<h1 class="center">New User</h1>
<form method="POST" action="/registrations">
  <div class="input-field">
    <input class='grey-text text-darken-2' id="username" name="username" required />
    <label class="active" for="username">username</label>
  </div>
  <div class="input-field">
    <input class='grey-text text-darken-2' id="email" name="email" required />
    <label class="active" for="email">Email</label>
  </div>
  <div class="input-field">
    <input class='grey-text text-darken-2' id="password" name="password" required />
    <label class="active" for="password">password</label>
  </div>
  <button class="btn right grey darken-2">Register</button>
</form>