<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">PicPost</a>
  <div class="container-fluid justify-content-end">
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item justify-content-end">
        <a class="nav-link active" href="/users/items">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/items/new">New post</a>
      </li>
      <li class="nav-item">
        <!-- TODO -->
        <a class="nav-link" href="/sessions/logout">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>
