<h1>"Welcome,<%=@user.username%>!"</h1>
<h1 class="center" style="color: white;">Welcome To the Menu</h1>
<a href="/sessions/logout">Log Out</a>
<h5 style="color: white;">navigate to create new items</h5>
<div class="card" style="width: 18rem;">
 
  
  <div class="card-body">
    <p class="card-text">
      <a href="/users/items">View Items</a>
    </p>
    <p class="card-text">
      <a href="/users/items/new">New Item</a>
    </p>
  </div>
</div>