<h1 style="color: white;">"Welcome,<%=@user.username%>!"</h1>
<h1 class="center" style="color: white;"</h1>
<div class="card" style="width: 18rem;">


  <div class="card-body">
    <p class="card-text">
      <a href="/users/items">View Items</a>
    </p>
    <p class="card-text">
      <a href="/users/items/new">New Item</a>
    </p>
  </div>
</div>
