@import 'bootstrap.min.css';
ul.nav.nav-pills {
  text-align: right !important;
}

.nav-pills>li {
  float: none !important;
  display: inline-block !important;
}

body {
  background-color: black;
}

.card {
  margin: 0 auto !important;
  /* Added */
  float: none !important;
  /* Added */
  margin-bottom: 10px !important;
  /* Added */
}
